.cta {
  position: relative;
  line-height: 160%;
}
.button,
.columnRight,
.textContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs);
}
.button,
.columnRight {
  border-radius: var(--br-9xs);
  background-color: var(--color-darkcyan);
  padding: var(--padding-xs-5) var(--padding-5xl);
  text-align: center;
  color: var(--color-white);
}
.columnRight {
  flex: 1;
  border-radius: var(--br-5xl);
  background-color: var(--color-darkslategray);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-29xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  min-width: 280px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-whitesmoke);
  font-family: var(--font-lato);
}
@media screen and (max-width: 750px) {
  .columnRight {
    padding: var(--padding-12xl) var(--padding-5xl);
    box-sizing: border-box;
  }
}