.heading,
.subheading {
  align-self: stretch;
  position: relative;
}
.heading {
  line-height: 120%;
  font-weight: 900;
}
.subheading {
  font-size: var(--font-size-sm);
  line-height: 160%;
  font-family: var(--font-lato);
  color: var(--color-white);
}
.benefitsHeader {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.iconIcon {
  height: 32px;
  width: 32px;
  position: relative;
}
.featureDescription,
.featureTitle {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
}
.featureTitle {
  width: 392px;
  line-height: 150%;
  display: inline-block;
  white-space: nowrap;
  max-width: 112%;
  flex-shrink: 0;
}
.featureDescription {
  align-self: stretch;
  font-size: var(--font-size-sm);
  line-height: 160%;
  color: var(--color-white);
  display: -webkit-inline-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.feature01,
.featureCopy {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.featureCopy {
  flex: 1;
  flex-direction: column;
  padding: 0;
  box-sizing: border-box;
  gap: var(--gap-5xs);
  min-width: 229px;
  max-width: 100%;
}
.feature01 {
  width: 100%;
  flex-direction: row;
  gap: var(--gap-base);
  min-width: 88px;
  max-width: 400px;
}
.iconIcon1 {
  height: 32px;
  width: 32px;
  position: relative;
}
.featureDescription1,
.featureTitle1 {
  align-self: stretch;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
}
.featureTitle1 {
  line-height: 150%;
  white-space: nowrap;
}
.featureDescription1 {
  font-size: var(--font-size-sm);
  line-height: 160%;
  color: var(--color-white);
  display: -webkit-inline-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.feature02,
.featureCopy1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.featureCopy1 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xs);
  min-width: 229px;
  max-width: 100%;
}
.feature02 {
  width: 100%;
  flex-direction: row;
  gap: var(--gap-base);
  min-width: 88px;
  max-width: 400px;
}
.iconIcon2 {
  height: 32px;
  width: 32px;
  position: relative;
}
.featureDescription2,
.featureTitle2 {
  align-self: stretch;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
}
.featureTitle2 {
  line-height: 150%;
  white-space: nowrap;
}
.featureDescription2 {
  font-size: var(--font-size-sm);
  line-height: 160%;
  color: var(--color-white);
  display: -webkit-inline-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.featureCopy2 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xs);
  min-width: 229px;
  max-width: 100%;
}
.feature03,
.featureCopy2,
.featureList,
.listContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.feature03 {
  width: 100%;
  flex-direction: row;
  gap: var(--gap-base);
  min-width: 88px;
  max-width: 400px;
}
.featureList,
.listContainer {
  flex-direction: column;
  box-sizing: border-box;
}
.featureList {
  width: 100%;
  padding: 0 var(--padding-mid) 0 0;
  gap: var(--gap-21xl);
  min-width: 320px;
  max-width: 1200px;
}
.listContainer {
  flex: 1;
  padding: var(--padding-187xl-5) 0 0;
  min-width: 168px;
  max-width: 100%;
}
.iphone14Starlight1,
.screenContentLummi {
  position: absolute;
  height: 102.82%;
  width: 104.68%;
  top: -1.36%;
  right: -2.43%;
  bottom: -1.46%;
  left: -2.25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.screenContentLummi {
  height: 90.51%;
  width: 81.29%;
  top: 4.37%;
  right: 8.98%;
  bottom: 5.12%;
  left: 9.74%;
  object-fit: contain;
  z-index: 1;
}
.device {
  height: 664px;
  width: 342px;
  position: relative;
  max-width: 100%;
}
.content,
.content1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content1 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 var(--padding-10xs) 0 0;
  box-sizing: border-box;
  gap: 40px 38px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-lg);
  font-family: var(--font-lato);
}
.content {
  width: 800px;
  flex-direction: column;
  gap: var(--gap-21xl);
  max-width: 800px;
}
.typemobileDeviceMockupBene {
  align-self: stretch;
  background-color: var(--color-gray-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-141xl) var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-37xl);
  color: var(--color-whitesmoke);
  font-family: var(--font-playfair-display);
}
@media screen and (max-width: 1200px) {
  .featureList {
    max-width: 100%;
  }
  .typemobileDeviceMockupBene {
    padding-top: var(--padding-85xl);
    padding-bottom: var(--padding-85xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .heading {
    font-size: var(--font-size-26xl);
    line-height: 54px;
  }
  .content {
    max-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .typemobileDeviceMockupBene {
    padding-top: var(--padding-49xl);
    padding-bottom: var(--padding-49xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading {
    font-size: var(--font-size-15xl);
    line-height: 40px;
  }
  .feature01,
  .feature02,
  .feature03 {
    flex-wrap: wrap;
    max-width: 100%;
  }
  .featureList {
    gap: var(--gap-xl);
  }
  .listContainer {
    padding-top: var(--padding-115xl);
    box-sizing: border-box;
  }
  .content1 {
    gap: var(--gap-lgi);
  }
  .content,
  .typemobileDeviceMockupBene {
    gap: var(--gap-xl);
  }
}