.heading,
.subheading {
  align-self: stretch;
  position: relative;
}
.heading {
  letter-spacing: -0.01em;
  line-height: 108%;
  font-weight: 900;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.subheading {
  font-size: var(--font-size-3xl);
  line-height: 140%;
  font-family: var(--font-lato);
  color: var(--color-gray-100);
}
.headingText {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-base);
}
.cta {
  position: relative;
  line-height: 150%;
  white-space: nowrap;
}
.ctaButton,
.textContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs);
}
.ctaButton {
  width: 100%;
  border-radius: var(--br-9xs);
  background-color: var(--color-darkcyan);
  padding: var(--padding-2xs) var(--padding-xl);
  box-sizing: border-box;
  max-width: 360px;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-lato);
}
.copyComponent,
.copyContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.copyComponent {
  width: 100%;
  align-items: flex-start;
  gap: var(--gap-21xl);
  min-width: 304px;
  max-width: 720px;
}
.copyContainer {
  flex: 0.9067;
  align-items: center;
  padding: var(--padding-101xl) var(--padding-29xl);
  box-sizing: border-box;
  min-width: 320px;
  max-width: 100%;
}
.imageLummi {
  height: 725px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.imageContainer,
.typeinvertedHeroWithFullS {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.imageContainer {
  flex: 1;
  overflow: hidden;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  min-width: 320px;
  margin-left: -2px;
}
.typeinvertedHeroWithFullS {
  align-self: stretch;
  background-color: var(--color-whitesmoke);
  flex-wrap: wrap;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-53xl);
  color: var(--color-gray-200);
  font-family: var(--font-playfair-display);
}
@media screen and (max-width: 1050px) {
  .heading {
    font-size: var(--font-size-39xl);
    line-height: 62px;
  }
}
@media screen and (max-width: 750px) {
  .copyComponent {
    gap: var(--gap-xl);
    max-width: 100%;
  }
  .copyContainer {
    gap: var(--gap-base);
    padding: var(--padding-59xl) var(--padding-5xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading {
    font-size: var(--font-size-24xl);
    line-height: 47px;
  }
  .subheading {
    font-size: var(--font-size-lg);
    line-height: 25px;
  }
}